<button
  *ngIf="text !== 'Google'"
  class="flex items-center justify-center w-full rounded-full py-3 transition duration-300 cursor-pointer {{
    width
  }}"
  type="submit"
  (click)="onClick($event)"
  [ngClass]="{
      'bg-[#144257] hover:bg-[#1E5E6E] text-white' : type === 'submit',
      'border border-[#D0DBEA] hover:border-[#71799D] text-[#283347]' : type === 'cancel',
    }"
>
  {{ text }}
</button>
<button
  *ngIf="text === 'Google'"
  class="flex items-center justify-center w-full bg-white rounded-full py-3 text-black cursor-pointer border border-[#D0DBEA]  {{
    width
  }}"
  type="submit"
  (click)="onClick($event)"
>
  <img src="assets/images/Chefcitos/Google.svg" alt="" />

  <span class="font-semibold px-2"> {{ text }} </span>
</button>
