<!-- Step
     Displays each step with a checkbox
-->
<div cdkDropList [cdkDropListData]="steps" (cdkDropListDropped)="drop($event)">
  <div
    *ngFor="let step of steps; let i = index"
    cdkDrag
    class="flex flex-row gap-2 items-start text-base mb-6"
  >
    <span cdkDragHandle class="cursor-move mr-2 flex items-center">
      <i class="ph ph-dots-six-vertical text-xl"></i>
    </span>
    <label [for]="'checkbox-' + i" class="flex flex-row gap-2 cursor-pointer">
      <!-- Hidden Checkbox -->
      <input [id]="'checkbox-' + i" type="checkbox" class="hidden peer" />

      <!-- Custom Checkbox -->
      <div
        class="w-6 h-6 border border-[#0E3A46] rounded-sm peer-checked:bg-[#0E3A46] flex items-center justify-center transition"
      >
        <i
          class="ph-bold ph-check text-[#FCFDFF] w-4 h-4 peer-checked:opacity-100 transition"
        ></i>
      </div>

      <span class="text-[#283347]">
        {{ step }}
      </span>
    </label>
  </div>
</div>
