<div class="relative {{ width }}">

  <ng-container *ngIf="type === 'search'">
    <i class="ph ph-magnifying-glass absolute left-4 top-[15px] select-none text-[#71799D]"></i>
    <input
      [id]="id"
      type="text"
      placeholder="Search..."
      class="w-full rounded-full border border-[#D0DBEA] pl-10 pr-4 py-2 text-sm focus:border-[#71799D] outline-none bg-transparent"
      [(ngModel)]="value"
      (input)="onInput($event)"
    />
  </ng-container>

  <ng-container *ngIf="type === 'addStep' || type === 'addIngredient' || type === 'noLabel'">
    <input
      [id]="id"
      [type]="type.startsWith('add') ? 'text' : type"
      [placeholder]="type === 'addStep' ? 'Step' : (type === 'addIngredient' ? 'Ingredient' : ' ')"
      class="w-full rounded-4xl border border-[#D0DBEA] px-4 py-2 text-sm focus:border-[#71799D] outline-none bg-transparent"
      [(ngModel)]="value"
      (input)="onInput($event)"
    />
  </ng-container>

  <ng-container *ngIf="type !== 'search' && type !== 'addStep' && type !== 'addIngredient' && type !== 'noLabel'">
    <input
      [id]="id"
      [type]="getInputType()"
      placeholder=" "
      class="peer w-full rounded-4xl border border-[#D0DBEA] px-4 pt-[.85rem] pb-1 text-sm focus:border-[#71799D] outline-none align-top bg-transparent"
      [(ngModel)]="value"
      (input)="onInput($event)"
    />
    <label
      [attr.for]="id"
      class="absolute left-4 text-[#71799D] text-sm transition-all pointer-events-none top-[.55rem] peer-focus:top-[.15rem] peer-focus:text-[.6rem] peer-not-placeholder-shown:top-[.15rem] peer-not-placeholder-shown:text-[.6rem]"
    >
      {{ name }}
    </label>

    <button
      *ngIf="type === 'password'"
      type="button"
      (click)="togglePasswordVisibility()"
      class="absolute right-4 top-[10px] cursor-pointer text-[#71799D]"
    >
      <i [ngClass]="getIconClass()" class="ph select-none text-xl"></i>
    </button>
  </ng-container>
</div>